@charset "UTF-8";

body{
    margin: 0;
}

div{
    background-color: #f5f5f5;
    padding: 50px;
    text-align: center;
    border-top: 1px solid #d5d5d5;
}

h1{
    font-family:'Tahoma', sans-serif;
    text-align: center;
    margin-top:0; 
}

h2{
    font-size: 24px;
    font-family:'Tahoma', sans-serif;
    text-align: center;
}

h3{
    font-family:'Tahoma', sans-serif;
    text-align: center;
}

p{
    text-align: center;
    line-height: 28px;
    font-family:'Tahoma', sans-serif;
    width: 930px;
    margin: 15px auto 30px auto;
}

span{
    font-family:'Tahoma', sans-serif;
    font-weight: bold;
}

img{
    width: 190px;
}


a{
    font-size: 14px;
    font-family:'Tahoma', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    background-color: #49b970;
    padding: 10px 30px;
    border-radius: 25px;
}

